@using ShoppingMVC.Web.ViewModels.Brand
@using X.PagedList
@model BrandIndexVM

@{
    ViewData["Title"] = "Brand List";
}
@{
    bool isAdmin = User.IsInRole("Admin");
}
<div class="container ">

    <!--bloque centrado-->

    <div class="col-md-6 mx-auto">

        <!--titulo : Brand List-->
        <div class="text-center mb-3">
            <h3 class="fw-bold">Brand List</h3>
        </div>

     

            <!--BTN NUEVO-->
         @if (isAdmin)
        {
            <div class="d-flex justify-content-end mb-3">

                <a asp-controller="Brand" asp-action="UpSert" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i>
                    New
               </a>
            </div>
         }
         <partial name="_SearchBar" model="Model"/>
         
        @*            Ctrl + K y luego Ctrl + C
            descomentar (Ctrl+K+U)
    
<form method="get" class="mb-3">

            <div class="d-flex justity-content-betwen gap-2 mb-2">

                   <!-- BUSQUEDA-->
                   <input type="text"
                       name="search"
                       value="@Context.Request.Query["search"]"
                       class="form-control"
                       placeholder="Buscar..."/>
                   

                       <!--BTN BUSCAR-->
                       <button type="submit" class="btn btn-outline-primary ">
                           Buscar
                       </button>

                       <!--reset-->
                       <a asp-action="Index" class="btn btn-outline-secondary">
                           Reset
                       </a>
               </div>

        </form>

 *@   



                <!--TABLA-->


        <table class="table table-bordered table-hover w-100 ">

        <!--ENCABEZADO DE LA TABLA style="min-width:300px;"   style="min-width:35%""  -->
        <thead>
            <tr>
                    <th class="text-center">Brand</th>
                @if (isAdmin)
                {
                        <th class="text-center">Actions</th>

                }

            </tr>

        </thead>

       <tbody>
            <!--SI HAY MARCAS-->
            @if (Model.Brands.Any())
                {
                    foreach(var item in Model.Brands)
                    {
                        <!--se genera una fila para cada una-->

                        <tr id="@item.BrandId">  <!--guardo el id, no se muestra-->
                                                    <!--nombre de la brand-->
                            <td class="text-center">@item.BrandName</td>

                                   <!--Ancor editar, porque le paso una ruta para la vista upsert de Brand-->
                           
                            @if(isAdmin)
                            {
                                <td class="text-center">
                                    <a class="btn btn-warning btn-center"
                                       asp-controller="Brand" 
                                 asp-action="UpSert" 
                                 asp-route-id="@item.BrandId">
                                    <i class="bi bi-pencil-square"></i>&nbsp;Edit
                                </a>

                                    <!--btn borrar con SWEETALERT, porque no necesito una vista-->

                                    <button class="btn btn-danger btn-center"
                                onclick="confirmDelete('@item.BrandId')">
                                    <i class="bi bi-trash-fill"></i>&nbsp; Delete
                                </button>
                            </td>
                            }

                            
                        </tr>

                    }
                }
                else
                {
                    <tr>
                        <td colspan="2" class="text-center">  <!--colspan=2  las dos columnas se ahcen una , text centrado-->
                            no brand added yets!    <!--no se han añadido marcas-->
                        </td>
                    </tr>
                }

        </tbody>
     </table>
    </div>
</div>

     <!--PAGINACION MANUAL-->

     <div class="mt-4 d-flex justify-content-center">  <!--d-flex= display flex || justify-content-center = contenido centrado horizontalmente -->

         <nav aria-label= "Page-navigation">  <!--le dice al navegador = esto es una zona de navegacion-->
             <ul class="pagination">

                 <!--boton ANTERIOR-->

                 <li class="page-item @(Model.Brands.HasPreviousPage? "":"disabled")">
                     <a class="page-link" asp-action="Index" asp-route-page="@(Model.Brands.PageNumber-1)">Previous</a>
                 </li>

                 <!--NUMEROS DE PAGINAS-->

                 @for(int i=1; i<= Model.Brands.PageCount; i++)   // GENERA 1 PAGINA POR CADA NUMERO EXISTENTE
                {
                    <li class=" page-item @(Model.Brands.PageNumber ==i ? "active":"")">  <!--RESALTA EL NRO DE LA PAG ACTUAL-->
                        <a class="page-link" asp-action="Index" asp-route-page="@i">@i</a>
                    </li>
                }

                <!--BOTON NEXT-->

                <!--genera un item de la lista q va a estar habilitado o deshabilitado-->
                <li class="page-item @(Model.Brands.HasNextPage ? "" : "disabled")">
                    <a class="page-link " asp-action="Index" asp-route-page="@(Model.Brands.PageNumber +1 )"> Next</a>

                </li> 
                
            </ul>

         </nav>
     </div>





</div>
<!--RAZOR todo lo q esta ACA se va a insertar en la section del script del LAYOT (disposicion) -->
@section Scripts{    

    <script src="~/lib/jquery/dist/jquery.js"></script>             <!--JQUERY para AYAX-->
    <script src="//cdn.Jsdelivr.net/npm/sweetalert2@11"></script>   <!--SWEET ALERT pop up-->

    <script type="text/javascript">

        function confirmDelete(brandId){
            swal.fire({
                    title:'Are you sure?',     // estas seguro
                    text:'You will not be able to recover this record',     // no podras recuperar este registro
                    icon:'warning',
                    showCancelButton:true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!',
                    cancelButtonText: 'No, cancel!'

                    }).then((result) =>
                     {
                    if(result.isConfirmed)
                    {
                        $.ajax({
                                url:'/Brand/Delete/'+ brandId,
                                type:'POST',
                                    success: function(data)     // DATA  es lo que devuelve mi controller= true(success) or false
                                {
                                    if(data.success)
                                    {
                                            Swal.fire('deleted !','the record has been deleted.','success');
                                            document.getElementById(brandId).remove();   // elimina la fila de la tabla
                                    }
                                    else
                                    {
                                        Swal.fire('error', data.message, 'error')
                                    }

                                },
                                error:function()
                                {
                                    Swal.fire('Error', 'the was an error deleting the record', 'error')
                                }
                        });
                    }
            });
        }
    
    </script>
}